body,
html {
	width: 100%;
	background: rgb(0,255,250);
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
	font-family: Arial, sans-serif;
}
.person {
	width: 800px;
	padding-top: 32px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.person__info {
	padding-right: 20px;
	
}
.person__contacts {
	padding-top: 60px;

}
.person__details { 
	/* добавьте ваш код  */
}
.avatar {
	padding-bottom: 32px;
}
.avatar__picture {
	height: 350px;
	width: 350px;
	border: 20px solid #fff;
	border-radius: 100%;
	transition: transform 2s;
}
.avatar__picture:hover {

	transform: translateX(100%) rotate(360deg);
  transition: transform 2s ease;
}
.contacts {
	/* добавьте ваш код  */
}
.contacts__name {
	font-size: 32px;
	font-weight: 600;
}
.contacts__role {
	font-size: 19.2px;
	font-weight: 600;
	padding-bottom: 32px;
}
.contacts__item {
	list-style-type: none;
	font-style: italic;
}
.contacts__title {
	font-weight: 600;
}
.contacts__title:after {
	/* добавьте ваш код  */
}
.contacts__link {
	color: gray;
}
.paragraph {
	padding-bottom: 16px;
}
.paragraph_last {
	padding-bottom: 32px;
}
